<div class="container mb-5">
    {% for comment in comments %}
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="mt-0">{{ comment.author.firstName }} {{ comment.author.lastName }}</h5>
                <p class="lead">{{ comment.content }}</p>
                <small>
                    <i class="far fa-calendar-alt"></i> Publié le {{ comment.createdAt | dateFR |capitalize }} |
                    {% if comment.userId == session.id %}
                        <a class="btn-link text-danger" href="/commentaire/{{ comment.id }}/delete" role="button"><i class="far fa-trash-alt"></i></a>
                    {% endif %}
                </small>

            </div>
        </div>
    {% endfor %}
    <div class="d-flex justify-content-end mb-3">
        {{ pagination | raw }}
    </div>
</div>

