<header class="bg-light pt-5 pb-5 mb-5">
    <div class="container">
        <div class="row">
                <h1 class="display-4 font-weight-bold mt-5 mb-2">
                    {{ post.title }}
                    {% if post.category %}
                        <span class="badge badge-secondary bg-theme-primary">{{ post.category.title }}</span>
                    {% endif %}</h1>
                <p class="lead mb-5">
                    {{ post.description }}
                    <br><br>
                    Publié par <b>{{ post.author.firstName }} {{ post.author.lastName }}</b>
                    <br>
                    <i class="far fa-calendar-alt"></i> {{ post.createdAt | dateFR }} |
                    <i class="far fa-comments"></i> {{ post.comments | length }} {%  if post.comments | length <= 1 %} commentaire {% else %} commentaires {% endif %}
                </p>
            </div>
        </div>
    </div>
</header>


