{% extends 'layouts/default.twig' %}

{% block title %}
    <title>Blog PHP : Profil</title>
{% endblock %}

{% block content %}

    <div class="container my-5 pt-5">
        {% include 'backend/layouts/alert.twig' %}
        <small>PROFIL</small>
        <h1 class="my-4">Compte</h1>
        <form action="/profil/update/" method="post"  enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{ user.id }}">
            <div class="row my-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="image_profil">Image de profil</label>
                        <input type="file" class="form-control" id="image_profil" aria-describedby="profil_help" name="avatar">
                        <small id="profil_help" class="form-text text-muted">Votre image de profil doit être inférieur ou égal à 2 Mo aux formats (jpeg, jpg, png).</small>
                    </div>
                    <img src="/uploads/images/{{ user.avatar }}" alt="Image de profil" class="img-thumbnail" width="200">
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Nom d'utilisateur</label>
                        <input type="hidden" class="form-control" name="username" value="{{ user.username | lower }}" required>
                        <input type="text" class="form-control" name="" value="{{ user.username | lower }}" disabled >
                    </div>
                    <div class="form-group">
                        <label>Prénom</label>
                        <input type="text" class="form-control" name="first_name" value="{{ user.firstName }}" required>
                    </div>
                    <div class="form-group">
                        <label>Nom</label>
                        <input type="text" class="form-control" name="last_name" value="{{ user.lastName | upper }}" required>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row my-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Ancien mot de passe</label>
                        <input type="password" class="form-control" name="password" placeholder="••••••••••••••••">
                    </div>
                    <div class="form-group">
                        <label>Nouveau mot de passe</label>
                        <input type="password" class="form-control" name="new_password">
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-end bd-highlight">
                    <div class="form-group flex-fill bd-highlight">
                        <label>Confirmez le mot de passe</label>
                        <input type="password" class="form-control" name="confirm_password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-end">
                    <a class="btn btn-outline-dark" href="#" role="button">J'ai oublié mon mot de passe</a>
                    <input class="btn btn-primary ml-2" type="submit" value="Enregistrer">
                </div>
            </div>
        </form>
    </div>

{% endblock %}