{% extends 'backend/layouts/default.twig' %}

{% block title %}
    <title>Blog PHP : Gestion des articles</title>
{% endblock %}

{% block content %}
<div class="container pt-5">
    <h4 class="mt-5 mb-3">Gestion des articles</h4>
    {% include 'backend/layouts/alert.twig' %}
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-end mb-3">
                <a class="btn btn-primary" href="/dashboard/articles/form-create" role="button">Ajouter un article</a>
            </div>
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nom</th>
                    <th scope="col" class="text-right">Statut</th>
                    <th scope="col" class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td class="text-right">
                        <i class="fas fa-circle fa-xs {% if post.isValidated == false %} text-secondary {% else  %} text-success {% endif %}"></i>
                    </td>
                    <td class="text-right">
                        <a class="btn-link text-secondary" href="/dashboard/articles/{{ post.slug }}-{{ post.id }}" role="button"><i class="fas fa-pen"></i></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-end mb-3">
                {{ pagination | raw }}
            </div>
        </div>
    </div>
</div>
{% endblock %}